n8n/booking-agent-workflow.json
{
  "name": "AREA MOSA - WhatsApp Booking Agent",
  "nodes": [
    {
      "id": "node-sticky-setup",
      "name": "README - Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 40],
      "parameters": {
        "content": "## AREA MOSA - WhatsApp Booking Agent\n\n### Required Environment Variables\nSet in n8n instance Settings > Variables:\n\n| Variable | Example |\n|---|---|\n| EVOLUTION_API_URL | https://your-evolution.domain.com |\n| EVOLUTION_API_KEY | your-api-key-here |\n| GOOGLE_CALENDAR_ID | primary OR your@email.com |\n| GOOGLE_CALENDAR_ACCESS_TOKEN | ya29.xxx... |\n\n### Required Credentials\n- **openAiApi** - OpenAI API key credential\n\n### Evolution API Webhook Setup\n1. Open Evolution API dashboard\n2. Go to Instance: area-mosa > Webhooks\n3. Set URL: `YOUR_N8N_URL/webhook/whatsapp-booking`\n4. Enable event: **MESSAGES_UPSERT**\n\n### Google Calendar Access Token\nFor production use, implement OAuth2 token refresh.\nFor testing, use a long-lived service account token.",
        "height": 280,
        "width": 480,
        "color": 5
      }
    },
    {
      "id": "node-sticky-flow",
      "name": "README - Workflow Flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [680, 40],
      "parameters": {
        "content": "## Workflow Logic\n\n**Flow:** Webhook → Filter → Extract → AI Agent → Send Reply\n\n**AI Agent Tools:**\n- `check_availability` - validates date/time against Google Calendar\n- `create_booking` - creates Google Calendar event on confirmation\n\n**Memory:** Per-phone conversation window (10 messages)\n\n**Languages:** Russian / Spanish / English (auto-detected)\n\n**Working Hours:**\n- Mon-Fri: 9:00-20:00\n- Saturday: by appointment only\n- Sunday: closed\n\n**Services:**\n- Haircut ~45 min\n- Coloring ~90 min\n- Hair Care ~60 min\n- Combo ~120 min",
        "height": 260,
        "width": 380,
        "color": 7
      }
    },
    {
      "id": "node-error-trigger",
      "name": "Workflow Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [200, 700],
      "parameters": {}
    },
    {
      "id": "node-error-notify",
      "name": "Notify Error via WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [440, 700],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/area-mosa",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "59894786877"
            },
            {
              "name": "text",
              "value": "Lo sentimos, tuvimos un problema tecnico. Por favor contacta a +598 94 786877 / Sorry, technical issue. Please contact +598 94 786877 / Извините, техническая проблема. Свяжитесь: +598 94 786877"
            }
          ]
        }
      }
    },
    {
      "id": "node-webhook-trigger",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [200, 360],
      "onError": "continueRegularOutput",
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-booking",
        "responseMode": "onReceived",
        "responseData": "noData"
      },
      "webhookId": "area-mosa-whatsapp-booking"
    },
    {
      "id": "node-filter-incoming",
      "name": "Filter Incoming Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [440, 360],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-from-me",
              "leftValue": "={{ $json.data.key.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "cond-has-message",
              "leftValue": "={{ $json.data.message.conversation || ($json.data.message.extendedTextMessage ? $json.data.message.extendedTextMessage.text : '') }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-extract-data",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 260],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "assign-phone",
              "name": "phone",
              "value": "={{ $json.data.key.remoteJid.replace('@s.whatsapp.net', '') }}",
              "type": "string"
            },
            {
              "id": "assign-message",
              "name": "message",
              "value": "={{ $json.data.message.conversation || ($json.data.message.extendedTextMessage ? $json.data.message.extendedTextMessage.text : '') }}",
              "type": "string"
            },
            {
              "id": "assign-client-name",
              "name": "clientName",
              "value": "={{ $json.data.pushName || 'Client' }}",
              "type": "string"
            },
            {
              "id": "assign-instance",
              "name": "instance",
              "value": "={{ $json.instance || 'area-mosa' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false
      }
    },
    {
      "id": "node-ai-agent",
      "name": "Booking AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [920, 260],
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Client: ' + $json.clientName + ' (phone: ' + $json.phone + ')\\nMessage: ' + $json.message }}",
        "systemMessage": "You are a booking assistant for AREA MOSA hair salon in Montevideo, Uruguay.\nMaster: Artem. Address: Cordon, Montevideo, Uruguay.\n\nDETECT the client's language from their first message and respond ONLY in that language (Russian, Spanish, or English). Do not switch languages unless explicitly asked.\n\nYour job:\n1. Greet warmly and introduce yourself as the AREA MOSA booking assistant\n2. Present available services when asked\n3. Ask for preferred date and time\n4. Check calendar availability using the check_availability tool\n5. If available - book using the create_booking tool then send confirmation\n6. If not available - suggest 2-3 alternative times the same day or next day\n7. Send confirmation with: service name, date, time, duration, and salon address\n\nAvailable services:\n- Haircut (Corte / Стрижка) - approximately 45 minutes\n- Coloring (Coloracion / Окрашивание) - approximately 90 minutes\n- Hair Care (Cuidado capilar / Уход за волосами) - approximately 60 minutes\n- Combo (Combo / Комбо: haircut + coloring or care) - approximately 120 minutes\n\nWorking hours: Monday to Friday 9:00-20:00, Saturday by appointment only, Sunday closed.\n\nRules:\n- Be friendly, professional and concise\n- Always confirm service, date, and time BEFORE creating the booking\n- If client asks about prices, say that Master Artem will discuss pricing based on specific needs at the appointment\n- Never book outside working hours (9:00-20:00) or on Sunday\n- For Saturday bookings, mention it is by special appointment only and note confirmation may be needed\n- Always end booking confirmations with the salon address: Cordon, Montevideo, Uruguay\n- The client name and phone are provided in each message - use them for bookings\n- When calling create_booking, pass the detected language code (ru, es, or en) in the language field",
        "options": {
          "maxIterations": 10
        }
      }
    },
    {
      "id": "node-openai-model",
      "name": "GPT-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [760, 480],
      "onError": "continueRegularOutput",
      "parameters": {
        "model": {
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1500
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "openAiApi",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "node-memory",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [920, 480],
      "parameters": {
        "contextWindowLength": 10,
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Message Data').item.json.phone }}"
      }
    },
    {
      "id": "node-check-availability-tool",
      "name": "check_availability",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [1060, 480],
      "parameters": {
        "name": "check_availability",
        "description": "Check if a specific date and time slot is available in the salon calendar for a booking. Always call this tool before creating any booking. Returns AVAILABLE or NOT AVAILABLE with details.",
        "language": "javaScript",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"date\": {\n      \"type\": \"string\",\n      \"description\": \"Date to check in YYYY-MM-DD format, e.g. 2025-03-20\"\n    },\n    \"time\": {\n      \"type\": \"string\",\n      \"description\": \"Start time in HH:MM 24h format, e.g. 14:30\"\n    },\n    \"duration_minutes\": {\n      \"type\": \"number\",\n      \"description\": \"Duration of the appointment in minutes: 45 for Haircut, 90 for Coloring, 60 for Hair Care, 120 for Combo\"\n    }\n  },\n  \"required\": [\"date\", \"time\", \"duration_minutes\"]\n}",
        "jsCode": "// Parse input - the AI passes a JSON string as 'query'\nlet input;\ntry {\n  input = typeof query === 'string' ? JSON.parse(query) : query;\n} catch (e) {\n  return `Error: Invalid input format. Expected JSON with date, time, and duration_minutes. Got: ${query}`;\n}\n\nconst { date, time, duration_minutes } = input;\n\nif (!date || !time || !duration_minutes) {\n  return 'Error: Missing required fields. Please provide date (YYYY-MM-DD), time (HH:MM), and duration_minutes.';\n}\n\n// Validate date format\nconst dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!dateRegex.test(date)) {\n  return `Error: Invalid date format '${date}'. Use YYYY-MM-DD.`;\n}\n\n// Validate time format\nconst timeRegex = /^\\d{2}:\\d{2}$/;\nif (!timeRegex.test(time)) {\n  return `Error: Invalid time format '${time}'. Use HH:MM (24h).`;\n}\n\n// Check day of week (use noon to avoid DST issues)\nconst checkDate = new Date(date + 'T12:00:00');\nconst dayOfWeek = checkDate.getDay(); // 0=Sunday, 6=Saturday\n\nif (dayOfWeek === 0) {\n  return `NOT AVAILABLE: The salon is closed on Sundays. Please choose a Monday through Saturday date.`;\n}\n\n// Check working hours\nconst [hours, minutes] = time.split(':').map(Number);\nconst startMin = hours * 60 + minutes;\nconst endMin = startMin + Number(duration_minutes);\nconst openMin = 9 * 60;   // 9:00\nconst closeMin = 20 * 60; // 20:00\n\nif (startMin < openMin || endMin > closeMin) {\n  const endH = Math.floor(endMin / 60).toString().padStart(2, '0');\n  const endM = (endMin % 60).toString().padStart(2, '0');\n  return `NOT AVAILABLE: The time ${time} with ${duration_minutes}-minute duration is outside working hours (09:00-20:00). The appointment would end at ${endH}:${endM}. Please choose an earlier time.`;\n}\n\n// Calculate end time string\nconst endH = Math.floor(endMin / 60).toString().padStart(2, '0');\nconst endM = (endMin % 60).toString().padStart(2, '0');\nconst endTime = `${endH}:${endM}`;\n\n// Saturday special handling\nif (dayOfWeek === 6) {\n  const calId = typeof $env !== 'undefined' ? ($env.GOOGLE_CALENDAR_ID || 'primary') : 'primary';\n  const token = typeof $env !== 'undefined' ? ($env.GOOGLE_CALENDAR_ACCESS_TOKEN || '') : '';\n\n  try {\n    const resp = await $helpers.httpRequest({\n      method: 'GET',\n      url: `https://www.googleapis.com/calendar/v3/calendars/${encodeURIComponent(calId)}/events`,\n      headers: { 'Authorization': `Bearer ${token}` },\n      qs: {\n        timeMin: `${date}T${time}:00-03:00`,\n        timeMax: `${date}T${endTime}:00-03:00`,\n        singleEvents: true,\n        orderBy: 'startTime'\n      }\n    });\n    const busy = (resp.items || []).filter(e => e.status !== 'cancelled');\n    if (busy.length === 0) {\n      return `AVAILABLE (Saturday - special appointment): The slot ${date} at ${time}-${endTime} appears free. Note: Saturday bookings require confirmation from Master Artem.`;\n    } else {\n      return `NOT AVAILABLE: The slot ${date} at ${time} is already booked.`;\n    }\n  } catch (err) {\n    return `AVAILABLE (Saturday - unverified): Calendar check failed (${err.message}). The working hours are valid for ${date} at ${time}-${endTime}. Saturday requires special confirmation from Master Artem.`;\n  }\n}\n\n// Weekday: query Google Calendar\nconst calId = typeof $env !== 'undefined' ? ($env.GOOGLE_CALENDAR_ID || 'primary') : 'primary';\nconst token = typeof $env !== 'undefined' ? ($env.GOOGLE_CALENDAR_ACCESS_TOKEN || '') : '';\n\ntry {\n  const resp = await $helpers.httpRequest({\n    method: 'GET',\n    url: `https://www.googleapis.com/calendar/v3/calendars/${encodeURIComponent(calId)}/events`,\n    headers: { 'Authorization': `Bearer ${token}` },\n    qs: {\n      timeMin: `${date}T${time}:00-03:00`,\n      timeMax: `${date}T${endTime}:00-03:00`,\n      singleEvents: true,\n      orderBy: 'startTime'\n    }\n  });\n\n  const busy = (resp.items || []).filter(e => e.status !== 'cancelled');\n\n  if (busy.length === 0) {\n    return `AVAILABLE: The slot on ${date} from ${time} to ${endTime} (${duration_minutes} min) is free. You can proceed with booking.`;\n  } else {\n    const list = busy.map(e => {\n      const s = e.start.dateTime ? e.start.dateTime.substring(11, 16) : e.start.date;\n      const en = e.end.dateTime ? e.end.dateTime.substring(11, 16) : e.end.date;\n      return `${s}-${en}: ${e.summary || 'Appointment'}`;\n    }).join('; ');\n    return `NOT AVAILABLE: The slot ${date} at ${time} conflicts with existing appointment(s): ${list}. Please suggest another time to the client.`;\n  }\n} catch (err) {\n  // Fallback: hours check passed, calendar unavailable\n  return `AVAILABLE (unverified - calendar API error: ${err.message}): Working hours check passed for ${date} at ${time}-${endTime}. Proceed with booking but verify manually for conflicts.`;\n}"
      }
    },
    {
      "id": "node-create-booking-tool",
      "name": "create_booking",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [1200, 480],
      "parameters": {
        "name": "create_booking",
        "description": "Create a confirmed booking appointment in the Google Calendar. Only call this AFTER checking availability with check_availability AND explicitly confirming all details with the client (service, date, time). Returns booking confirmation with event ID or error message.",
        "language": "javaScript",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"service\": {\n      \"type\": \"string\",\n      \"description\": \"Service in English: Haircut, Coloring, Hair Care, or Combo\"\n    },\n    \"date\": {\n      \"type\": \"string\",\n      \"description\": \"Booking date in YYYY-MM-DD format\"\n    },\n    \"time\": {\n      \"type\": \"string\",\n      \"description\": \"Start time in HH:MM 24h format\"\n    },\n    \"duration_minutes\": {\n      \"type\": \"number\",\n      \"description\": \"Duration: 45 (Haircut), 60 (Hair Care), 90 (Coloring), 120 (Combo)\"\n    },\n    \"client_name\": {\n      \"type\": \"string\",\n      \"description\": \"Client full name\"\n    },\n    \"client_phone\": {\n      \"type\": \"string\",\n      \"description\": \"Client WhatsApp phone number (digits only)\"\n    },\n    \"language\": {\n      \"type\": \"string\",\n      \"description\": \"Detected client language code: ru, es, or en\"\n    }\n  },\n  \"required\": [\"service\", \"date\", \"time\", \"duration_minutes\", \"client_name\", \"client_phone\", \"language\"]\n}",
        "jsCode": "// Parse input\nlet input;\ntry {\n  input = typeof query === 'string' ? JSON.parse(query) : query;\n} catch (e) {\n  return `Error: Invalid input format. Expected JSON. Got: ${query}`;\n}\n\nconst { service, date, time, duration_minutes, client_name, client_phone, language } = input;\nconst lang = language || 'es';\n\nif (!service || !date || !time || !duration_minutes || !client_name || !client_phone) {\n  return 'Error: Missing required fields. Need: service, date, time, duration_minutes, client_name, client_phone, language.';\n}\n\n// Calculate end time\nconst [h, m] = time.split(':').map(Number);\nconst startMin = h * 60 + m;\nconst endMin = startMin + Number(duration_minutes);\nconst endH = Math.floor(endMin / 60).toString().padStart(2, '0');\nconst endM = (endMin % 60).toString().padStart(2, '0');\nconst endTime = `${endH}:${endM}`;\n\nconst startDateTime = `${date}T${time}:00-03:00`;\nconst endDateTime = `${date}T${endTime}:00-03:00`;\n\nconst calId = typeof $env !== 'undefined' ? ($env.GOOGLE_CALENDAR_ID || 'primary') : 'primary';\nconst token = typeof $env !== 'undefined' ? ($env.GOOGLE_CALENDAR_ACCESS_TOKEN || '') : '';\n\nconst eventBody = {\n  summary: `${service} - ${client_name}`,\n  description: `Client: ${client_name}\\nPhone: ${client_phone}\\nService: ${service}\\nDuration: ${duration_minutes} minutes\\nLanguage: ${lang}\\n\\nBooked via WhatsApp Bot\\nAREA MOSA Hair Salon - Cordon, Montevideo, Uruguay`,\n  location: 'Cordon, Montevideo, Uruguay',\n  start: {\n    dateTime: startDateTime,\n    timeZone: 'America/Montevideo'\n  },\n  end: {\n    dateTime: endDateTime,\n    timeZone: 'America/Montevideo'\n  },\n  reminders: {\n    useDefault: false,\n    overrides: [\n      { method: 'popup', minutes: 60 },\n      { method: 'popup', minutes: 1440 }\n    ]\n  },\n  colorId: '2'\n};\n\ntry {\n  const resp = await $helpers.httpRequest({\n    method: 'POST',\n    url: `https://www.googleapis.com/calendar/v3/calendars/${encodeURIComponent(calId)}/events`,\n    headers: {\n      'Authorization': `Bearer ${token}`,\n      'Content-Type': 'application/json'\n    },\n    body: eventBody\n  });\n\n  if (resp.id) {\n    return `BOOKING CONFIRMED\\nEvent ID: ${resp.id}\\nService: ${service}\\nDate: ${date}\\nTime: ${time} - ${endTime} (${duration_minutes} min)\\nClient: ${client_name}\\nPhone: ${client_phone}\\nLanguage: ${lang}\\nSalon: AREA MOSA, Cordon, Montevideo, Uruguay`;\n  } else {\n    return `BOOKING ERROR: Unexpected response from calendar API: ${JSON.stringify(resp)}`;\n  }\n} catch (err) {\n  return `BOOKING ERROR: Could not create calendar event. Error: ${err.message}. Please ask the client to contact the salon directly at +598 94 786877 to confirm the appointment manually.`;\n}"
      }
    },
    {
      "id": "node-send-whatsapp",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1180, 260],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL + '/message/sendText/' + $('Extract Message Data').item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Extract Message Data').item.json.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Filter Incoming Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Incoming Messages": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Booking AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking AI Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Booking AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Booking AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "check_availability": {
      "ai_tool": [
        [
          {
            "node": "Booking AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_booking": {
      "ai_tool": [
        [
          {
            "node": "Booking AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Error Trigger": {
      "main": [
        [
          {
            "node": "Notify Error via WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/Montevideo"
  },
  "staticData": null,
  "tags": [
    {
      "id": "tag-area-mosa",
      "name": "area-mosa"
    },
    {
      "id": "tag-whatsapp",
      "name": "whatsapp"
    },
    {
      "id": "tag-booking",
      "name": "booking"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "id": "area-mosa-booking-agent",
  "versionId": "1.0.0"
}
